.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  border-radius:10px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  white-space: normal;
  text-align: center;
  padding: 14px 12px 16px;
  box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%),
    0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
}

/* color */
.primary {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: white;
}

.success {
  background-color: var(--success);
  border: 2px solid var(--success);
  color: white;
}

.error {
  background-color: var(--error);
  border: 2px solid var(--error);
  color: white;
}



/* variant */

.outline.primary {
  background-color: transparent;
  color: var(--primary);
}

.outline.success {
  background-color: transparent;
  color: var(--success);
}

.outline.error {
  background-color: transparent;
  color: var(--error);
}

.jumbo{
  width: 49%;
}
.jumbo.error{
  background-color: transparent;
  color: var(--error);
  width: 49%;
}

.ghost {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  box-shadow: none;
}

.ghost:hover {
  background-color: var(--neutral);
}

