.container {
  position: fixed;
  inset: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.792);
  z-index: 0;
  animation: fadeIn 200ms ease-in;
}

.content {
  /* min-height: 596px; */
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  position: relative;
  z-index: 10;
  width: 95%;
  animation: scaleIn 200ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  /* min-width: 700px; */
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .content {
    max-width: fit-content;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
