/* These properties and values are based on the Radix typography
 guidelines.: https://www.radix-ui.com/themes/docs/theme/typography */

.text {
  max-width: 65ch;
}

.stepOne {
  font-size: 12px;
  letter-spacing: 0.0025em;
  line-height: 16px;
}

.stepTwo {
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 20px;
}

.stepThree {
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 24px;
}

.stepFour {
  font-size: 18px;
  letter-spacing: -0.0025em;
  line-height: 26px;
}

.stepFive {
  font-size: 20px;
  letter-spacing: -0.005em;
  line-height: 28px;
}

.stepSix {
  font-size: 24px;
  letter-spacing: -0.00625em;
  line-height: 30px;
}

.stepSeven {
  font-size: 28px;
  letter-spacing: -0.0075em;
  line-height: 36px;
}

.stepEight {
  font-size: 35px;
  letter-spacing: -0.01em;
  line-height: 40px;
}

.stepNine {
  font-size: 60px;
  letter-spacing: -0.025em;
  line-height: 60px;
}
