.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
  border: 2px solid #e2e2e2;
  border-radius: 0.75rem;
  margin-top: 0.75rem;
}

.container input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
  accent-color: var(--primary);
}
