.container {
  min-width: 350px;
  background-color: var(--neutral);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icons > * {
  cursor: pointer;
}

.tasks {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
