.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.groupOne,
.groupTwo {
  display: flex;
  justify-content: space-between;
  
  height: 50px;
}

.groupTwo {
  
  margin-top: 1rem;
  position: relative;
  z-index: 10;
  align-items: center;
}

 .subgroup{
  width: 60%;
  display: flex;
  height: 100%;
  justify-content: left;
  align-items: center;
 }

 .subgroup input{
  outline: none;
 }

 .icon {
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  opacity: 0.6;
  border-radius: 5px;
  background-color: var(--neutral);
  border-radius: 0.5rem;
  box-shadow: 0 3.2px 7.2px 0 rgb(0 0 0 / 13%), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.icon:hover {
  box-shadow: none; 
}
.addusers{
  width: 20%;
}
.addemail{
  width: 75%;
  margin-left: 4%;
  
}

.board{
  width: 150px;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
}
.listbox {
  position: relative;
}

.listboxButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  font-family: inherit;
}

.listboxOptions {
  position: absolute;
  list-style-type: none;
  right: 0;
  box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%),
    0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
}

.active {
  background-color: #4391ed10;
}

.selected {
  background-color: var(--primary);
  color: white;
  box-shadow: 0 20px 10px -20px rgba(0, 0, 0, 0.45) inset;
}

.listboxOption {
  /* padding: 0.5rem 3rem 0.5rem 0.5rem; */
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  gap: 0.5rem;
  white-space: nowrap;
  cursor: pointer;
  margin: 0.5rem;
  border-radius: 0.325rem;
  position: relative;
  z-index: 40;
}

.checkIcon {
  width: 2rem;
}

.rotate {
  transform: rotateX(180deg);
}
.addModal, .successModal{
  width: 500px;
  padding-top: 1rem;
}

.successModal{
  display: flex;
  height: 235px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.modalButtons{
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: 10px;
  /* background-color: yellow; */
}

.input {
  display: flex;
  align-items: center;
  border: 2px solid #d0d0d0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 20px;
}

.input input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  flex: 1;
}

.input input:focus {
  outline: none;
}

.errorContainer{
  height: 30px;
  /* background-color: violet; */
  width: 200px;
  margin-left: 25px;
  margin-top: 10px;
  color: var(--error);
}