.lists {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  max-width: 800px;
}

.listBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f9fcff;
  gap: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
}

.listBox > li > div {
  display: flex;
  justify-content: space-between;
}

.dot {
  color: #18b0ff;
  font-size: 2rem;
}

.listBox > li::marker {
  color: #90c4cc;
}
